<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Buy Me a Pie</display-name>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets & mappings -->
	<servlet>
		<servlet-name>AddItemToBuyServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.AddItemToBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemToBuyServlet</servlet-name>
		<url-pattern>/action/add_item_to_buy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetItemsToBuyServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.GetItemsToBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetItemsToBuyServlet</servlet-name>
		<url-pattern>/action/get_items_to_buy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditItemToBuyServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.EditItemToBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditItemToBuyServlet</servlet-name>
		<url-pattern>/action/edit_item_to_buy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PurchaseItemToBuyServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.PurchaseItemToBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchaseItemToBuyServlet</servlet-name>
		<url-pattern>/action/purchase_item_to_buy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ItemAutocompleteServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.ItemAutocompleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemAutocompleteServlet</servlet-name>
		<url-pattern>/action/item_autocomplete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClearListToBuyServlet</servlet-name>
		<servlet-class>com.buymeapie.servlet.ClearListToBuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearListToBuyServlet</servlet-name>
		<url-pattern>/action/clear_list_to_buy</url-pattern>
	</servlet-mapping>
	
	<!-- Filters & mappings -->
	<filter>
		<filter-name>ValidationFilter</filter-name>
		<filter-class>com.buymeapie.filter.ValidateRequestDataFilter</filter-class>
	</filter>	
	<!--<filter-mapping>
		<filter-name>ValidationFilter</filter-name>
		<url-pattern>/item_auto_complete</url-pattern>
	</filter-mapping>-->
	<filter-mapping>
		<filter-name>ValidationFilter</filter-name>
		<url-pattern>/action/*</url-pattern>
	</filter-mapping>
</web-app>